body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #457c67;
    font-family: Arial, sans-serif;
}

h1.Bien {
    color: #ffffff;
    background-color: #17da27;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}